head
	title #{pageTitle}
	meta(charset = 'UTF-8')
	meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
	meta(name = 'description', content = metaDesc)
	meta(name = 'viewport', content = 'width=device-width, initial-scale=1', user-scalable = 'no')

	link(href = '_img/favicon.ico', rel = 'shortcut icon', type = 'image/vnd.microsoft.icon')
	link(href = '_css/main.css', rel = 'stylesheet')
	link(rel="canonical" href="http://.../")
	link(rel="alternate" href="http://es..../" hreflang="es")
	link(rel="alternate" href="http://en..../" hreflang="en")

	meta(name='description', content='...')
	meta(property='fb:app_id', content='...')  
	meta(property='og:site_name', content='...')  
	meta(property='og:type', content='website')  
	meta(property='og:url', content='http://.../')  
	meta(property='og:title', content='...')  
	meta(property='og:description', content='...')  
	meta(property='og:image', content='http://....png')  
	meta(property='og:locale', content='es_ES')
	meta(name='twitter:widgets:csp', content='on')    
	meta(name='twitter:url', content='https://.../')    
	meta(name='twitter:description', content='....')    
	meta(name='twitter:card', content='summary')    
	meta(name='twitter:title', content='...')    
	meta(name='twitter:site', content='@...')    
	meta(name='twitter:app:name:iphone', content='...')    
	meta(name='twitter:app:name:ipad', content='...')    
	meta(name='twitter:app:name:googleplay', content='...')    
	meta(name='twitter:app:id:iphone', content='...')    
	meta(name='twitter:app:id:ipad', content='...')    
	meta(name='twitter:app:id:googleplay', content='...')    
	meta(name='twitter:app:url:iphone', content='...://')    
	meta(name='twitter:app:url:ipad', content='...://')    
	meta(name='twitter:app:url:googleplay', content='...://')



