@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);

@custom-media --mobile-tablet (max-width: 767px);

@define-mixin solo_mobile{
	@media (--tablet){
		display: none;
	}
}
.resp_solo_mobile{
	@mixin solo_mobile;
}

@define-mixin desde_tablet{
	@media (--mobile-tablet){
		display: none;
	}
}
.resp_desde_tablet{
	@mixin desde_tablet;
}
